DATE=$(date "+%Y-%m-%d")
DOSLOG=${SCRIPT_DIR}/logs
LOG=${DOSLOG}/${DATE}-clean_logs_sav.txt
BASE_CSV=${SCRIPT_DIR}/base.csv

RED='\033[0;31m' #code couleur pour les mauvaises réponses
GREEN='\033[0;32m' #code couleur pour les bonnes réponses
PURPLE='\033[38;5;131m'
BLUE='\033[34m'
NC='\033[0m' # No Color 
BOLD='\033[1m' #code pour mettre en gras le texte
SAISPAS='\e[1;33;41m' #code pour la couleur d'arrière plan 1 poyur le gras;33 pour le jaune, 41 pour le rouge
BIGTITRE='\e[1;7;91m' #code
TITRE='\e[4;34m'

if [ ! -d $DOSLOG ]
	then
	mkdir $DOSLOG
fi